.viz-view-selector-button {
    opacity: .5;
    float: left;
    height: 100%;
    background-color: teal;
}

#selected-viz-view-button {
    opacity: 1;
    color: seashell;
}

#viz-view-selector {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10vh;
}