#map-selector{ 
    background-color: rgb(83, 173, 203);
}

#chart-selector{ 
    background-color: rgb(39, 186, 59);
}

#table-selector{ 
    background-color: rgb(199, 118, 236);
}

.selector-button {

}