#ARC-Header {
  z-index: 999999999999;
  position: relative;
  top: 0;
  height: 125px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: whitesmoke;
}

.tool-header {
  position: fixed;
  top: 2vh;
}

.arc-header-div {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: #4b7b90;
}

#geo-label-header {
  font-weight: 300;
  font-size: 2.5em;
  width: 100%;
}

.ARC-logo-div {
  width: 100;
  text-align: center;
}

.ARC-logo {
  height: 50px;
  width: 400px;
}

.back-to-main-site-button {
  margin-left: 15px;
  width: 80%;
}

.back-to-site {
  --wp-admin-theme-color: #007cba;
  --wp-admin-theme-color-darker-10: #006ba1;
  --wp-admin-theme-color-darker-20: #005a87;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  color: #4b7a90;
  transition: color 0.25s ease-out, background-color 0.25s ease;
  transform: translateX(10%);
  font-size: 1em;
  text-decoration: none;
  background: #fff;
  border-radius: 5px;
  padding: 4px 13px 4px;
  font-weight: 600;
  text-transform: uppercase;
}

@media only screen and (max-width: 800px) {
  #ARC-Header {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 100px;
  }
  .ARC-logo-div {
    margin-right: 10px;
    width: 10vw;
    height: 5.5vh;
    background-color: white;
    border-radius: 5px;
  }
  .ARC-mobile-logo {
    height: 5.25vh;
    width: 8vw;
    color: white;
  }

  .back-to-main-site-button {
    margin-left: 10px;
    border-radius: 5px;
    width: 80px;
    box-shadow: 0.5px 0.5px #989898;
  }

  #geo-label-header {
    font-size: 2em;
    text-align: center;
    margin-bottom: 3px;
  }

  .geo-selector-box {
    position: relative;
    width: 100%;
    text-align: center;
  }

  .ui.inline.dropdown {
    text-align: center;
  }
}
