
.bar-chart {
    margin-top: 3%;
} 

.custom-tooltip {
    padding: 10px;
    display: grid;
    grid-template-rows: auto;
    text-align: start;
    background-color: rgb(255, 255, 255);
    /* border: .5px solid black; */
    box-shadow: grey 2px;
    color: black;
} 
