
.bar-chart {
    margin-top: 3%;
} 

.chart-custom-tooltip {
    padding: 10px;
    display: grid;
    grid-template-rows: auto;
    text-align: start;
    background-color: rgb(255, 255, 255);
    box-shadow: grey 2px;
    color: black;
}

.chart-tooltip-subarea {
    font-size: xx-large;
    font-weight: 800;
}

.chart-tooltip-geography-selection {
    font-size: small;
}
