.bar-chart {
  margin-top: 3vh;
}

.chart-custom-tooltip {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 300px;
  text-align: start;
  margin: 0;
  padding: 1em;
  white-space: normal;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: grey 2px;
  border: solid rgba(128, 128, 128, 0.2) 1px;
  border-radius: 5px;
}

.chart-tooltip-subarea {
  font-weight: 800;
  font-size: 1.5em;
}

.chart-tooltip-geography-selection {
  font-size: 0.8em;
}

.tooltip-geo {
  /* font-size: large; */
  font-weight: 700;
}

.chart-tooltip-indicator {
  font-weight: 650;
  margin: 1em 0 0.3em 0;
  line-height: 1em;
  font-size: 1em;
}

#chart-tooltip-indicator-value {
  font-weight: 200;
  font-size: 2em;
  /* margin: 0 0 .3em 0; */
}

.chart-tooltip-comparison {
  margin: 0.5em 0 0 0;
  line-height: 1.5em;
}

#tooltip-compare-header {
  font-size: 0.8em;
  font-weight: 700;
  /* margin: 1em 0 0 0; */
}

.chart-tooltip-percent-comparison {
  /* padding-top: 10px; */
  font-weight: 200;
  font-size: 1.4em;
}

#tooltip-footer {
  margin: 1em 0 0 0;
}

#tooltip-footer > div {
  font-size: 0.8em;
  font-weight: 400;

  /* max-width: 250px; */
}
#tooltip-footer > div > span {
  font-weight: 400;
  font-size: 1em;
}

.recharts-xAxis .recharts-cartesian-axis-ticks {
  font-size: 20px;
  font-weight: 600;
  /* color: black; */
}

.recharts-responsive-container {
  margin: auto;
}

.chart-responsive-container {
  position: relative;
  right: 20px;
}
