body {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  overflow: hidden;
}

#header {
  position: fixed;
  display: grid;
  grid-template-columns: 50% 50%;
  top: 0;
  width: 100%;
  height: 10vh;
}

.geo-selector {
  font-size: 1.3em;
  padding: .3em;
  margin: 1em 0 0 0;
  border-radius: 10px;
}

.geo-option {
  font-size: .5em;

}

#dynamic-wrapper {
  position: fixed;
  width: 100%;
  top: 10vh;
  height: 90vh;
  background-color: cornflowerblue;
  display: grid;
  grid-template-columns: 10% 90%;
}

#viz-box {
  display: grid;
  grid-template-columns: 65% 35%;
}

#right-col-viz-view {
  display: grid;
  grid-template-rows: 50% 50%;
}

#subarea-selector {
  background-color: darkcyan;
}

#map-box {
  background-color: darkorange;
}

#chart-box {
  background-color: sandybrown;
}

#table-box {
  background-color: salmon;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  margin: auto;
}

@media screen and (max-width: 800px) {

  h1 {
    font-size: 2em;
    white-space: wrap;
  }

  #dynamic-wrapper {
    grid-template-rows: 10% 90%;
    grid-template-columns: none;
    height: 80vh;
  }

  #viz-box {
    grid-template-columns: 100%;
    grid-template-rows: 100%;
  }

  #right-col-viz-view {
    grid-template-rows: 100%;
  }

}