body {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  overflow: hidden;
}

#header {
  position: fixed;
  display: grid;
  z-index: 9999999;
  padding: 2em 0 0 10%;
  /* grid-template-columns: 33% auto 33%; */
  top: 0;
  width: 25%;
  /* height: 10vh; */
}

.hidden {
  visibility: hidden;
}

.geo-selector {
  font-size: 1.3em;
  padding: .3em;
  margin: 1em 0 0 0;
  border-radius: 10px;
}

.geo-option {
  font-size: .5em;

}

#dynamic-wrapper {
  position: fixed;
  width: 100%;
  top: 10vh;
  height: 90vh;
  /* background-color: cornflowerblue; */
  display: grid;
  grid-template-columns: 10% 90%;
}

#viz-box {
  display: grid;
  grid-template-columns: 65% 35%;
}

#right-col-viz-view {
  display: grid;
  grid-template-rows: 50% 50%;
}

#map-box {
  padding: 1em;
  /* position: absolute;
  height: 90vh; */
  /* box-shadow: inset 0 0 5px red ;
  z-index: 9999999; */
  /* background-color: darkorange; */
}

#chart-box {
  /* background-color: sandybrown; */
}

#table-box {
  background-color: salmon;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  margin: auto;
  border-radius: 10px;
}

@media screen and (max-width: 800px) {

  h1 {
    font-size: 2em;
    white-space: wrap;
  }

  #dynamic-wrapper {
    grid-template-rows: 10% 90%;
    grid-template-columns: none;
    height: 80vh;
  }

  #viz-box {
    grid-template-columns: 100%;
    grid-template-rows: 100%;
  }

  #right-col-viz-view {
    grid-template-rows: 100%;
    
  }

}