.export-popup {
  width: fit-content;
  background-color: #f8f8f8;
  border-radius: 10px;
}

.popup-title {
  text-align: center;
  font-size: 14px;
  padding-bottom: 5px;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.download-buttons {
  display: flex;
  white-space: nowrap;
}

.download-buttons > button {
  width: fit-content;
  /* margin: 0 2% !important; */
}

/* Mobile Classes */
@media screen and (max-width: 850px) {
  .export-popup {
    width: fit-content;
  }

  .popup-title {
    font-size: 14px;
    margin-top: 0;
  }

  .download-buttons > button {
    font-size: 10px;
  }
}