.export-popup {
  width: 400px;
}

.popup-title {
  text-align: center;
  font-size: 16px;
  padding: 4%;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.download-buttons {
  display: flex;
  white-space: nowrap;
}

.download-buttons > button {
  width: 150px;
  margin: 0 2% !important;
}

/* Mobile Classes */
@media screen and (max-width: 850px) {
  .export-popup {
    width: 200px;
  }

  .popup-title {
    font-size: 14px;
  }

  .download-buttons > button {
    width: 100px;
    margin: 0 1% !important;
    font-size: 10px;
  }
}