#legend {
    background-color: #bec2ccb6;
    padding: 1em;
    /* display: flex; */
}

.map-legend-title {
    margin: 0 auto;
    padding: 8px;
    font-size: 14px;
    font-weight: 400;
}

.color-row {
    display: flex;
    flex-direction: row;
    height: 40px;
    background-color: transparent;
    /* align-items: center;
    justify-content: center; */
}

/* removed from code block */
/* .values-row {
    display: flex;
    justify-content: space-between;
    font-size: larger;
    font-weight: bold;
} */

.color-scale-block {
    display: flex;
    height: 100%;

    /* border: 1px black; */
}

.value-perimeter{
    height: 100%;
    margin: 0 auto;
    padding: 10px 5px 0 5px;
    /* color: white; */
    background-color: transparent;
  }