#legend {
    background-color: #bec2ccb6;
    /* display: flex; */
}

.map-legend-title {
    margin: 0 auto;
    padding: 8px;
    font-size: 18px;
}

.color-row {
    display: flex;
    flex-direction: row;
    height: 40px;
    align-items: center;
    justify-content: center;
    /* padding: 10px 0 10px 0; */
}

.values-row {
    display: flex;
    justify-content: space-between;
    font-size: larger;
    font-weight: bold;
    padding: 5px;
}

.color-scale-block {
    height: 100%;
}

.value-perimeter{
    height: 100%;
    margin: 0 auto;
    padding: 10px 5px 0 5px;
    color: white;
    background-color: black;
  }