/* ****** MOVED THE ID CONTAINER TO THE HOMEPAGE COMPONENT; */
/* #indicator-container {
  display: flex;
  justify-content: flex-end;
  z-index: 99999;
  background-color: white;
} */
#indicator-selector-dropdown {
  display: flex;
  justify-self: flex-start;
  margin-top: 0.5rem;
  border: solid thin rgb(119, 148, 123, 0.2);
  border-radius: 5px;
  color: rgb(75, 89, 104, 0.95);
}

.indicator-selector-dropdown-box {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  /* height: 8%; */
  /* max-height: 20%; */
  /* align-items: flex-end; */
  background-color: white;
  padding: 0.5rem;
  margin-right: 50px;
  border-radius: 5px;
}

.indicator-selector-dropdown-option {
  border-bottom: 0.025rem #808080 solid;
}

#indicator-selector-dropdown-header {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  background-color: #f0f0f0;
}

#selected-indicator {
  font-weight: bolder;
  background-color: rgba(128, 128, 128, 0.468);
  padding: 0.25rem;
}
