#subarea-selector-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  height: 100%;
  width: 100%;
  padding: 0.3em;
}

.subarea-popup {
  position: fixed;
  left: calc(10vw + 25px);
  top: 150px;
  background-color: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.383);
  text-align: left;
  z-index: 99999999;
  width: 250px;
  padding: 1em;
  border-radius: 5px;
}

#subarea-info-header {
  font-size: 1.5em;
}

#subarea-info-content > div {
  line-height: 1.2em;
  margin: 1em auto;
}

#subarea-info-content > a {
  float: right;
}

.subarea-selector-button {
  display: flex;
  cursor: pointer;
  font-size: 30px;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  margin: 0.1em;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  z-index: 99999999;
}

div.ui.right.center.transition.visible {
  z-index: 999999999999999;
}

#subarea-selector-mobile {
  width: 100%;
}

@media screen and (max-width: 850px) {
  #subarea-selector-container {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding: 0;
  }
  .subarea-selector-button {
    height: 90%;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 1px;
    margin-right: 1px;
  }
}
