#subarea-selector-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* align-content: space-between; */
  align-content: center;
  height: 100%;
  width: 100%;
  padding: .3em;
}

.subarea-selector-button {
  display: flex;
  cursor: pointer;
  font-size: 30px;
  /* padding-top: 15%; */
  height: 100%;
  width: 100%;
  margin: .1em;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  vertical-align: middle;
}

div.ui.right.center.transition.visible {
  z-index: 999999999999999;
}

@media screen and (max-width: 800px) {
  #subarea-selector-container {
    height: 10vh;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
  }
  .subarea-selector-button {
    padding: 0;
    margin: .5px !important;
    margin-top: 2px !important;
  }
}
