.navbar {
    background-color: cornflowerblue;
    justify-content: center;
    height: 10vh;
}

.home-container {
    height: 80vh;
    margin: 30px 25px 30px 25px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.subarea-selector {
    background-color: antiquewhite;
    height: 100%;
    flex: 0 0;
    padding: .5rem 1rem;
}

.map-box {
    background-color: aqua;
    flex: 5 0;
    padding: .5rem 1rem;
}

.parent-box {
    flex: 3 0;
}

.top-box {
    background-color: blanchedalmond;
    flex: 3 3;
    flex-direction: column;
    flex-flow: column;
    height: 50%;
    padding: .5rem 1rem;
}

.bottom-box {
    background-color: burlywood;
    flex: 3 3;
    flex-flow: column;
    flex-direction: column;
    height: 50%;
    padding: .5rem 1rem;
}