#layer-selector-box {
  background-color: white;
  border: solid thin rgb(119, 148, 123, 0.2);
  border-radius: 10px;
  position: relative;
  left: -12px;
  bottom: 85px;
  padding: 1em 0 1em 0;
  z-index: -1;
  /* height: fit-content;
  width: fit-content; */
}

.open {
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.562);
  line-height: normal;
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.closed {
  opacity: 0;
  animation: slideOut 0.5s ease-out;
}

#layer-selection-header {
  display: flex;
  /* height: 40px; */
  /* width: fit-content; */
  line-height: 40px;
  position: relative;
  margin-right: 0;
  padding: 0;
  border-radius: 5px;
  left: 10px;
  bottom: 125px;
  z-index: 99999999999;
}

.layer-selection-checkbox {
  text-align: right;
  padding: 0 10px 0 0;
}

.layer-selection-row {
  display: grid;
  grid-template-columns: 30% 70%;
  text-align: left;
  padding: 0.5em 0 0 .5em;
  /* padding-right: 1.2em; */
}
.layer-selection-row > div {
  font-size: 12px;
}

#layer-selection-header i.icon {
  font-size: 40px;
  padding: -2px;
  background-color: white;
  border: solid thin rgb(119, 148, 123, 0.2);
  border-radius: 5px;
  color: rgb(75, 89, 104, 0.95);
}

.layer-toggle-box {
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
}

@keyframes slideIn {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes slideOut {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@media screen and (max-width: 850px) {
  #layer-selection-header {
    left: 5px;
  }
}
