#layer-selector-box,
#layer-selector-box-shifted {
  width: 11%;
  /* background-color: rgb(226, 202, 201, 0.65); */
  background-color: white;
  border: solid thin rgb(119, 148, 123, 0.2);

  border-radius: 10px;
  position: fixed;
  top: calc(11vh + 30px);
  left: calc(8% + 40px);
  padding: 1em 0 1em 0;
}

.open {
  opacity: 1;
  /* animation: slideIn 1s ease-in; */
  transition: opacity 0.5s ease-in;
}

.closed {
  opacity: 0;
  /* animation: slideOut 0.5s ease-out; */
  transition: opacity 0s ease-out;
}

#layer-selection-header,
#layer-selection-header-shifted {
  height: 40px;
  width: 40px;
  line-height: 40px;
  position: fixed;
  padding: 0;
  border-radius: 5px;
  left: calc(8% + 15px);
  top: calc(10vh + 20px);

  z-index: 9999;
  /* border: solid 2px rgb(226, 202, 201, 0.65); */
}

/* 
.layer-selection-header .close {
  height: 100%;
  float: right;
} */

.layer-selection-checkbox {
  text-align: right;
  padding: 0 0.5em 0 0;
}

.layer-selection-row {
  display: grid;
  grid-template-columns: 30% 70%;
  text-align: left;
  padding: 0.5em;
  padding-right: 1.2em;
}

#layer-selection-header i.icon,
#layer-selection-header-shifted i.icon {
  font-size: 40px;
  padding: -2px;
  background-color: white;
  border: solid thin rgb(119, 148, 123, 0.2);
  border-radius: 5px;
  color: rgb(75, 89, 104, 0.95);
}

@keyframes slideIn {
  0% {
    transform: scale(0);
  }
  /* 50% {
    transform: translate(25px, -25px);
  } */
  100% {
    transform: scale(1);
  }
}

@keyframes slideOut {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@media screen and (max-width: 800px) {
  #layer-selector-box {
    width: 50%;
    top: calc(30vh + 40px);
    left: 40px;
  }

  #layer-selection-header {
    top: calc(30vh + 20px);
    left: 20px;
  }

  #layer-selection-header-shifted {
    position: fixed;
    top: calc(77vh + 20px);
    left: 65px;
  }

  #layer-selector-box-shifted {
    position: fixed;
    width: 50%;
    top: calc(65vh + 40px);
    left: 85px;
  }
}
