.viz-view-selector-button {
  opacity: 0.5;
  float: left;
  height: 100%;
  background-color: #0505059b;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

#selected-viz-view-button {
  opacity: 1;
  color: seashell;
}

#viz-view-selector {
  margin-top: 10vh;
  position: fixed;
  display: block;
  bottom: 0;
  width: 100%;
  height: 10vh;
  background-color: seashell;
}

.viz-view-selector-button span {
  font-size: 15px;
}
