#subarea-selector-container {
    display: grid;
    grid-template-rows: auto;
    height: 100%;
    align-items: center
}

.subarea-selector-button {
    margin: auto;
    height: 90px;
    width: 90px;
    display: inline-block;
    background-color: rgb(233, 141, 190);
    border-radius: 50%;
    /* line-height centers the text */
    line-height: 90px;
}

.subarea-selector-button :hover {
    cursor: crosshair;
}