.sticky-table-table,
.sticky-table {
  /* height: 100%; */
  /* overflow: auto; */
  max-width: 100%;
  white-space: pre-wrap;
  word-wrap: normal;
}
.hidden {
  visibility: hidden;
}

/* .header-cell {
  padding: .5em;
  background-color: orange;
} */

.indicator-column {
  font-size: 0.9em;
  line-height: 1.1em;
  width: 150px;
  padding: 0 0.5em 0 0.5em;
  white-space: normal;
  font-weight: 500;
}

.table-cells {
  vertical-align: middle;
}
