.sticky-table-table,
.sticky-table {
  height: 100%;
  overflow: auto;
  align-items: center;
  max-width: 100%;
  white-space: pre-wrap;
  word-wrap: normal;
}

.hidden {
  visibility: hidden;
}

.indicator-column {
  font-size: 0.9em;
  line-height: 1.1em;
  width: 150px;
  padding: 0 0.5em 0 0.5em;
  white-space: normal;
  font-weight: 500;
}

.table-cells {
  white-space: normal;
}

@media screen and (max-width: 800px) {
  .indicator-column {
    font-size: 0.75em;
    line-height: 1.1em;
    width: 100px;
    padding: 0 0.5em 0 0.5em;
    white-space: normal;
    font-weight: 500;
  }

  #table {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
