/* ****** MOVED THE ID CONTAINER TO THE HOMEPAGE COMPONENT; */
/* #indicator-container {
  display: flex;
  justify-content: flex-end;
  z-index: 99999;
  background-color: white;
} */

/* #indicator-container {
  z-index: 9999999;
  position: fixed;
  max-height: 20vh;
  top: 8vh;
  left: 80%;
  width: 17%;
  text-align: center;
} */

.indicator-dropdown-menu {
  overflow: auto;
  max-height: 20vh;
  text-align: left;
}

.indicator-selector-dropdown-icon {
  display: inline-block;
  border-radius: 5px;
  color: rgb(75, 89, 104, 0.95);
}

.indicator-selector-dropdown-box {
  border: solid thin rgb(119, 148, 123, 0.2);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background-color: white;
  border-radius: 5px;
}

.indicator-selector-dropdown-option {
  border-bottom: 0.025rem #808080 solid;
  padding: 0.5em;
}

.indicator-selector-dropdown-option:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.indicator-selector-dropdown-header {
  font-weight: bold;
  font-size: 1.1em;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 0.5em;
}

#selected-indicator,
.indicator-selector-dropdown-option-multiple-selected {
  font-weight: bold;
  /* background-color: black; */
  /* color: white; */ 
  /* background-color: rgba(128, 128, 128, 0.468); */
  /* padding: 0.25rem; */
}
