.indicator-header {
  font-size: 1.5em;
  font-weight: 750;
}

/* .indicator-selector-dropdown-box {
  background-color: transparent;
} */

.indicator-dropdown-menu {
  margin-top: .3em;
  padding: 0.5em;
  overflow: auto;
  max-height: 20vh;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid rgba(34,36,38,.15);
  box-shadow: 0 2px 3px 0 rgb(34 36 38 / 15%);
  border-radius: 5px;
}

.indicator-selector-dropdown-icon {
  display: inline-block;
  border-radius: 5px;
  color: rgb(75, 89, 104, 0.95);
}

.indicator-selector-dropdown-option {
  /* border-bottom: 0.025rem #808080 solid; */
  padding: 0.5em 0 .5em 1.5em;
}

.indicator-selector-dropdown-category {
  border-bottom: 0.025rem #808080 solid;
  padding: 0.5em;
  font-weight: 900;
}

.indicator-selector-dropdown-option:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.indicator-selector-dropdown-header {
  font-weight: bold;
  font-size: 1.1em;
  /* background-color: #ffffff; */
  border-radius: 5px;
  padding: 0.5em;
}

#selected-indicator,
.indicator-selector-dropdown-option-multiple-selected {
  font-weight: bold;
}

.select-unselect-all-toggle {
  text-decoration: underline;
  margin-left: 10px;
  color: rgb(112, 112, 194);
  /* float: left; */
}

.top-level-select-all-toggle-wrapper {
  width: 100%;
  text-align: center;
  height: 1.5em;
}
