
#tile-layer-selector {
  position: fixed;
  bottom: 40px;
  height: 10vh;
  right: calc(40% + 20px);
  z-index: 99999999;
  /* font-size: 4em; */
  color: #ffa500;
  width: 17%;
  background-color: white;
}


.tile-layer-thumb {
  height: 30px;
  margin: 5px 5px 0 5px;
  border-radius: 5px;
}