#tile-layer-selector {
  position: fixed;
  bottom: 68px;
  height: 15vh;
  right: calc(39% + 10px);
  z-index: 9999999;
  width: 250px;
  border-radius: 5px;
}

#map-loading-spinner {
  height: 80vh;
  line-height: 80vh;
  width: 100%;
}

#map-data-toggle-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 140px;
  height: 100%;
  align-items: center;
  padding: 0.5em;
}

#map-data-toggle-label {
  margin: 0 0.5em 0 0;
  padding: 0;
  width: 80px;
  white-space: normal;
  font-size: 14px;
}

.tile-layer-thumb {
  display: block;
  height: 65px;
  margin: 5px 8px 0 8px;
  border-radius: 5px;
  box-shadow: 4px 4px #6d5e5e7c;
}

.tile-layer-selection-box {
  background: transparent;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}

#map-legend-box {
  position: fixed;
  display: flex;
  flex-direction: row;
  padding: 0.5em;
  align-items: center;
  background-color: #f8f8f8f8;
  z-index: 999999;
  height: 60px;
  right: calc(39% + 20px);
  top: 150px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.383);
}

#tile-layer-icon {
  height: 50px;
  width: 70px;
  position: relative;
  bottom: 120px;
  margin-right: 10px;
  float: right;
  font-size: 20px;
  background-color: lightgrey;
  padding: 2px;
  border-radius: 10px;
  box-shadow: 0 0 10px #000000;
  z-index: 99999999;
}

#tile-layer-icon i {
  margin: auto;
}

@media screen and (max-width: 850px) {
  #tile-layer-selector-open {
    display: flex;
    flex-direction: row;
    z-index: 999999;
    position: fixed;
    top: calc(var(--app-height) - 210px);
    right: 80px;
    margin-right: 10px;
  }

  .tile-layer-thumb {
    display: block;
    height: calc(5vh + 20px);
    width: calc(5vh + 20px);
    max-height: 55px;
    max-width: 55px;
    margin: 3px 0px 0 8px;
    border-radius: 5px;
    box-shadow: 4px 4px #6d5e5e7c;
  }

  #tile-layer-selector-closed {
    visibility: hidden;
  }

  #map-loading-spinner {
    position: fixed;
    z-index: 999999999999;
    top: 18vh;
    left: 0vw;
  }

  #map-legend-box {
    position: fixed;
    top: 170px;
    /* max-width: 80%; */
    right: calc(1vw + 10px);
  }

  #map-legend-box-data {
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    align-items: center;
    background-color: #f8f8f8f8;
    justify-content: center;
    z-index: 999999;
    height: 50px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.383);
    position: fixed;
    width: 76%;
    left: 12%;
    margin-left: auto;
    margin-right: auto;
    top: 240px;
  }
}
