#tile-layer-selector {
  position: fixed;
  bottom: 40px;
  height: 15vh;
  right: calc(40% + 5px);
  z-index: 9999999;
  width: 250px;
  border-radius: 5px;
}

#map-loading-spinner {
  height: 80vh;
  line-height: 80vh;
  width: 100%;
}

#map-data-toggle-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 140px;
  height: 100%;
  align-items: center;
  padding: 0.5em;
}

#map-data-toggle-label {
  margin: 0 0.5em 0 0;
  /* text-align: l; */
  padding: 0;
  /* height: 60px; */
  width: 80px;
  white-space: normal;
  /* float: left; */
}

.tile-layer-thumb {
  display: block;
  height: 65px;
  margin: 5px 8px 0 8px;
  border-radius: 5px;
  box-shadow: 4px 4px #6d5e5e7c;
}

.tile-layer-selection-box {
  background: transparent;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}

#map-legend-box {
  position: fixed;
  display: flex;
  flex-direction: row;
  padding: 0.5em;
  /* flex-wrap: nowrap; */
  align-items: center;
  background-color: #f8f8f8f8;
  z-index: 999999;
  height: 60px;
  right: 41vw;
  top: 13vh;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.383);
}

#tile-layer-icon {
  position: relative;
  bottom: 70px;
  margin-right: 10px;
  float: right;
  font-size: 20px;
  background-color: lightgrey;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 10px #000000;
  z-index: 99999999;
}

#map-legend-box-above {
  position: fixed;
  display: flex;
  flex-direction: row;
  padding: 0.5em;
  /* flex-wrap: nowrap; */
  align-items: center;
  background-color: #f8f8f8f8;
  z-index: 999999;
  height: 60px;
  left: 28%;
  top: 21vh;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.383);
}

#map-legend-box-shifted {
  position: fixed;
  display: flex;
  flex-direction: row;
  padding: 0.5em;
  /* flex-wrap: nowrap; */
  align-items: center;
  background-color: #f8f8f8f8;
  z-index: 999999;
  height: 50px;
  left: 0;
  width: 100%;
  top: 30vh;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.383);
}

/* ************************************* */
/* Data Toggle  */
/* #chart-map-toggle-box {
  z-index: 999999999999;
  display: grid;
  grid-template-columns: 50% 50%;
} */

@media screen and (max-width: 800px) {
  #tile-layer-selector-open {
    z-index: 999999;
    position: fixed;
    bottom: 25vh;
    left: 75%;
  }

  #tile-layer-selector-closed {
    position: fixed;
    top: 20%;
    right: -20%;
  }

  #map-loading-spinner {
    position: fixed;
    z-index: 999999999999;
    top: 18vh;
    left: 0vw;
  }
}
